<td-layout class='layout-nav-list-demo' sidenavWidth='280px'>
  <td-layout-nav-list toolbarTitle="Global Article Database" navigationRoute="/" opened="true" mode="side">
    <div td-sidenav-content>
      <div class="search-wrapper">
        <td-search-box backIcon="arrow_back" placeholder="Search here..." [(ngModel)]="searchText"
          [showUnderline]="true" [alwaysVisible]="true" (search)="textChange()" (clear)="textChange()">
        </td-search-box>
      </div>
      <div class="results">{{total | number:'1.0':'en-US'}} results found</div>
      <mat-accordion multi="true">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            Workspace
          </mat-expansion-panel-header>
          <mat-selection-list #workspaceOptions role="list" (selectionChange)="filterByWorkspace($event)">
            <mat-list-option class="workspace-options" *ngFor="let item of workspace" [value]="item" role="listitem">
              <mat-icon mat-list-icon>folder</mat-icon>
              <div mat-line>{{item.name}} ({{item.count}})</div>
            </mat-list-option>
          </mat-selection-list>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            Filtered by
          </mat-expansion-panel-header>
          <mat-form-field class="filter-field">
            <input #author type="text" placeholder="Select Author" (keydown.enter)="filterChanged()" aria-label="Author"
              matInput [formControl]="authorControl" [matAutocomplete]="autoAuthor">
            <mat-autocomplete #autoAuthor="matAutocomplete" (optionSelected)="filterChanged()">
              <mat-option *ngFor="let author of filteredAuthors | async" [value]="author">
                {{author}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field class="filter-field">
            <input #category type="text" placeholder="Select Category" (keydown.enter)="filterChanged()"
              aria-label="Category" matInput [formControl]="categoryControl" [matAutocomplete]="autoCategory">
            <mat-autocomplete #autoCategory="matAutocomplete" (optionSelected)="filterChanged()">
              <mat-option *ngFor="let category of filteredCategories | async" [value]="category">
                {{category}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field class="filter-field">
            <input #topic type="text" placeholder="Select Topic" (keydown.enter)="filterChanged()" aria-label="Topic"
              matInput [formControl]="topicControl" [matAutocomplete]="autoTopic">
            <mat-autocomplete #autoTopic="matAutocomplete" (optionSelected)="filterChanged()">
              <mat-option *ngFor="let topic of filteredTopics | async" [value]="topic">
                {{topic}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field class="filter-field">
            <input #source type="text" placeholder="Select Source" (keydown.enter)="filterChanged()" aria-label="Source"
              matInput [formControl]="ownerControl" [matAutocomplete]="autoOwner">
            <mat-autocomplete #autoOwner="matAutocomplete" (optionSelected)="filterChanged()">
              <mat-option *ngFor="let owner of filteredOwners | async" [value]="owner">
                {{owner}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            Sorted by
          </mat-expansion-panel-header>
          <mat-form-field class="filter-field">
            <input #sortBy type="text" placeholder="Sort By" (keydown.enter)="filterChanged()" aria-label="Sort By"
              matInput [formControl]="sortControl" [matAutocomplete]="sortTopic">
            <mat-autocomplete #sortTopic="matAutocomplete" (optionSelected)="filterChanged()">
              <mat-option *ngFor="let item of sortFilters" [value]="item">{{item}}</mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div td-toolbar-content layout-align="end center" layout="row" flex>
      <div class="username">{{username}}</div>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>
    <mat-card *ngFor="let article of articles" class="article-card">
      <mat-card-header>
        <mat-card-title class="title--no-overflow" title="{{article.title}}">{{article.title}}</mat-card-title>
        <mat-card-subtitle class="title--no-overflow" title="{{article.subtitle}}">
          {{article.subtitle ? article.subtitle : '-'}}</mat-card-subtitle>
      </mat-card-header>
      <div class="image-container" (click)="openArticle(article)">
        <img mat-card-image src="{{article.imageLink}}">
      </div>
      <mat-card-content>
        <div class="article-date">{{article.date | date : 'mediumDate' }}</div>
        <p>
          {{article.summary}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <div class="action-row">
          <div class="actions--left">{{article.author.join(', ')}}</div>
          <div class="actions--right" title="{{article.topics.join(', ')}}">{{article.topics.join(', ')}}</div>
        </div>
        <div class="action-row">
          <div class="actions--left"><a href="{{article.sourceLink}}" target="_blank">{{article.owner}}</a></div>
          <div class="actions--right">
            <span [ngClass]="['flag-icon', 'flag-icon-' + article.language]"></span>
            <span *ngFor="let translation of article.translations"
              [ngClass]="['flag-icon', 'flag-icon-' + translation.language]"></span>
          </div>
        </div>
      </mat-card-actions>
    </mat-card>
    <div *tdLoading="'loading'; type:'circular'; mode:'indeterminate'; strategy:'replace'; color:'primary'">
      <div *ngIf="showMore" class="view-more">
        <button mat-raised-button color="primary" (click)="loadMore()">More Articles</button>
      </div>
    </div>
  </td-layout-nav-list>
</td-layout>