<mat-card *ngFor="let article of articles" class="article-card">
  <mat-card-header>
    <mat-card-title class="title--no-overflow" title="{{article.title}}">{{article.title}}</mat-card-title>
    <mat-card-subtitle class="title--no-overflow" title="{{article.subtitle}}">
      {{article.subtitle ? article.subtitle : '-'}}</mat-card-subtitle>
  </mat-card-header>
  <div class="image-container" (click)="openNewTab('/article/' + article.id)">
    <img mat-card-image src="{{article.imageLink}}">
  </div>
  <mat-card-content>
    <div class="article-date">{{article.date | date : 'mediumDate' }}</div>
    <p class="summary">
      {{article.summary}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <div class="action-row">
      <div class="actions--left">{{article.author.join(', ')}}</div>
      <div class="actions--right" title="{{article.topics.join(', ')}}">{{article.topics.join(', ')}}</div>
    </div>
    <div class="action-row">
      <div class="actions--left"><a href="{{article.sourceLink}}" target="_blank">{{article.owner}}</a></div>
      <div class="actions--right">
        <span [ngClass]="['flag-icon', 'flag-icon-' + article.language]"></span>
        <span *ngFor="let translation of article.translations"
          [ngClass]="['flag-icon', 'flag-icon-' + translation.language]"></span>
      </div>
    </div>
  </mat-card-actions>
</mat-card>
<div *tdLoading="'loading'; type:'circular'; mode:'indeterminate'; strategy:'replace'; color:'primary'">
  <div *ngIf="showMore" class="view-more">
    <button mat-raised-button color="primary" (click)="loadMore()">More Articles</button>
  </div>
</div>