<div [ngClass]="background" class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Global Article Database</mat-card-title>
        </mat-card-header>

        <div *tdLoading="'loading'; type:'circular'; mode:'indeterminate'; strategy:'replace'; color:'primary'">
            <form class="example-form" (ngSubmit)="onSubmit()">
                <mat-card-content>
                    <div *ngIf="!emailSent">
                        <div class="label-row label-row--centered" fxLayout="row" fxLayoutAlign="center center">
                            Enter your email address. We'll email instructions on how to reset your password
                        </div>
                        <br>
                        <mat-form-field class="field-full-width">
                            <input matInput [(ngModel)]="email" [ngModelOptions]="{standalone: true}" placeholder="Email">
                        </mat-form-field>    
                    </div>
                    <div *ngIf="emailSent">
                        <div class="label-row label-row--centered" fxLayout="row" fxLayoutAlign="center center">
                            An email has been sent to {{email}} with the instructions to reset your password
                        </div>
                    </div>
                </mat-card-content>
                <button *ngIf="!emailSent" mat-raised-button color="primary" class="btn-block" type="submit">Submit</button>
                <div class="label-row" fxLayout="row" fxLayoutAlign="center center">
                    <a routerLink="/login">Go back</a>
                </div>
            </form>
        </div>
    </mat-card>

</div>