.article {
    padding: 20px 10px 10px 10px;
    &-field {
        width: 100%;
        margin: 0 10px;

        &--shifted {
            padding-top: 12px;
        }
    }
    &-body {
        padding: 0 10px;
    }
}

.mat-form-field {
    font-size: 1.2em;
}

.chip-list {
    width: 100%;
}

.tab-content {
    padding-top: 20px;
}

.form {
    &-textarea {
        overflow: hidden;
    }

    &--full {
        width: 100%;
    }

    &--20 {
        width: 20%;
    }

    &--40 {
        width: 40%;
    }

    &--25 {
        width: 25%;
    }

    &--50 {
        width: 50%;
    }

    &--33 {
        width: 33%;
    }
}

.article-menu {
    padding-bottom: 10px;
    padding-right: 20px;
}

.mat-grid-tile .mat-figure {
   justify-content: left !important;
   align-items: flex-end !important;
}

.page-content {
    &-scrollable {
        overflow: auto;
        position: absolute;
        top: 155px;
        left: 10px;
        right: 0;
        bottom: 10px;     
    }
}
