<div mat-dialog-content>
    <h3>Please, select translation language</h3>
    <mat-form-field class="field">
        <input #language type="text" placeholder="Select Language" aria-label="Language"
            matInput [formControl]="languagesControl" [matAutocomplete]="autoLanguage">
        <mat-autocomplete #autoLanguage="matAutocomplete">
            <mat-option *ngFor="let lang of filteredLanguages | async" [value]="lang">
                <span [ngClass]="['flag-icon', 'flag-icon-' + lang]"></span>
                {{lang}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</div>
<div mat-dialog-actions align="center">
    <button mat-button [mat-dialog-close]="languagesControl.value" cdkFocusInitial mat-raised-button color="primary">Ok</button>
    <button mat-button (click)="onCancel()">Cancel</button>
</div>