/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import '~@angular/material/theming';

// Define a custom typography config that overrides the font-family
// or any typography level.
$typography: mat-typography-config(
  $font-family: 'Roboto, monospace',
  $headline: mat-typography-level(32px, 48px, 700),
  $subheading-2: mat-typography-level(18px, 22px, 500),
  $subheading-1: mat-typography-level(16px, 20px, 500),
);

@include mat-core($typography); // $typography is an **optional** argument for the mat-core

$primary: mat-palette($mat-blue-grey, 800, 100, 900);
$accent:  mat-palette($mat-light-blue, 600, 100, 900);
$warn:    mat-palette($mat-red, 600, 100, 900);
$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
// @include covalent-theme($theme, $typography); // $typography is an **optional** argument for the covalent-theme

// (optional) Additional themes
// @include covalent-markdown-theme($theme);
// @include covalent-highlight-theme();

a {
  text-decoration: none;
  color: mat-color($primary);
}

html,
body,
.page {
  height: 100%; /* needed for proper layout */
}

body {
  overflow: hidden;
}

p {
  margin-bottom: 1em;
}

.page {
  display: flex;
  flex-direction: column;
}

.page-header {
  flex: 0 0 auto;
  margin: 0 10px;
}

.page-content {
  flex: 1 1 auto;
  position: relative;/* need this to position inner content */
  overflow-y: auto;
  background-color: #d6d6d6;
  &--white {
    background-color: white;
  }
}

.spinner--full {
  margin: 20px auto;
}

.mat-card {
  margin: 5px;
}

.mat-card-image:first-child {
  margin-top: 0 !important;      
  max-width: unset !important;
}