<div [ngClass]="background" class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Global Article Database</mat-card-title>
        </mat-card-header>

        <div *tdLoading="'loading'; type:'circular'; mode:'indeterminate'; strategy:'replace'; color:'primary'">
            <form class="example-form" (ngSubmit)="onSubmit()">
                <mat-card-content>
                    <div *ngIf="!submitted">
                        <div class="label-row label-row--centered" fxLayout="row" fxLayoutAlign="center center">
                            Type your new password
                        </div>
                        <br>
                        <mat-form-field class="field-full-width">
                            <input matInput autocomplete="off" type="password" [(ngModel)]="newpassword"
                                [ngModelOptions]="{standalone: true}" placeholder="Password">
                        </mat-form-field>
                        <mat-form-field class="field-full-width">
                            <input matInput autocomplete="off" type="password" [(ngModel)]="renewpassword"
                                [ngModelOptions]="{standalone: true}" placeholder="Retype Password">
                        </mat-form-field>
                        <div *ngIf="error" class="label-row label-row--centered label-row--error" fxLayout="row"
                            fxLayoutAlign="center center">
                            {{error}}
                        </div>
                    </div>
                    <div *ngIf="submitted">
                        <div class="label-row label-row--centered" fxLayout="row" fxLayoutAlign="center center">
                            You password has been changed successfully.
                        </div>
                    </div>
                </mat-card-content>
                <button *ngIf="!submitted" mat-raised-button color="primary" class="btn-block" type="submit">Submit</button>
                <div class="label-row" fxLayout="row" fxLayoutAlign="center center">
                    <a routerLink="/login">Go to sign-in</a>
                </div>
            </form>
        </div>
    </mat-card>

</div>